*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    list-style: none;
    text-decoration: none;
}

.hero{
    height: auto;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 20%;
}

.hero-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    
    color: white;
    width : 175%; 
    margin : 0 auto; 
    margin-top : 30px;
}


.hero-img img{
    width: 200x;
    height: auto;
}

.hero-text a{
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 50px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}


.contact-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    
    color: rgb(0, 0, 0);
    width : 100%; 
    margin : 0 auto; 
    margin-top : 30px;
}